@page
@model ALView.Pages.EventTrackerModel
@{
    ViewData["Title"] = "Event tracker";
    Layout = "~/Pages/Shared/_Layout2.cshtml";
}

@section Scripts
{
    <script src="~/js/etrx.js"></script>
}

<div class="eventsContainer" id="eventsContainer">
    <!-- Engaged events -->
    <div class="eventSectionContainer">
        <div class="eventsSectionTitle">Engaged Events</div>
        <div class="eventsSectionContainer" id="engagedEventsContainer"></div>
    </div>
    <!-- Active events -->
    <div class="eventSectionContainer">
        <div class="eventsSectionTitle">Active Events</div>
        <div class="eventsSectionContainer" id="activeEventsContainer"></div>
    </div>
    <!-- Upcoming events -->
    <div class="eventSectionContainer">
        <div class="eventsSectionTitle">Upcoming Events</div>
        <div class="eventsSectionContainer" id="upcomingEventsContainer"></div>
    </div>
</div>

<script id="eventServerTemplate" type="text/x-custom-template">
    <div class="eventServerContainer">
        <div class="eventServerTitleContainer">
            <div id="serverName" class="eventServerIdentifierBadge"></div>
        </div>
        <div id="eventInfoContainer"></div>
    </div>
</script>

<script id="engagedEventTemplate" type="text/x-custom-template">
    <div class="engagedEventEntry">
        <div id="eventName" class="engagedEventName"></div>
        <div id="bossInfo" class="engagedBossInfo"></div>
        <div id="bossLocation" class="engagedBossLocation"></div>
    </div>
</script>

<script id="activeEventTemplate" type="text/x-custom-template">
    <div class="activeEventEntry">
        <div id="eventName" class="activeEventName"></div>
        <div id="bossInfo" class="activeBossInfo"></div>
        <div id="bossLocation" class="activeBossLocation"></div>
    </div>
</script>

<script id="upcomingEventTemplate" type="text/x-custom-template">
    <div class="upcomingEventEntry">
        <div id="eventName" class="upcomingEventName"></div>
        <div id="bossInfo" class="upcomingBossInfo"></div>
    </div>
</script>